.loader{
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  animation: 1s showLoader ease-in infinite alternate;

  box-shadow: #44444400 0px 0px 20px;
  border: 1px solid #8383837a;
}
@keyframes showLoader{
  0%{ 
    box-shadow: #c0c0c000 0px 0px 20px;

  }
  100%{
    box-shadow: #c0c0c0 0px 0px 100px;


  }
}