@import "tailwindcss";
*{
  scroll-behavior: smooth;
} 
body{
  background-color: #222;
}
button{
  transition: 0.8s;
  padding: 0.5rem;
  max-width: 200px;
  min-width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #444;
  cursor: pointer;
  border: 0.7px solid #ffffff00;

}
button:hover{
  transform: scale(1.06);
  border: 0.7px solid #003d55;
  box-shadow: #4b4b4b38 19px 10px 8px;
}
input{
  border-radius: 5px;
  border: 0.7px solid #444;
}
.idTrabajo{
  top: 4%;
  left: 15%;
}
.trabajoCartas{
  grid-template-columns: repeat(5, 1fr) ;
}
@media (max-width:1950px){
  .idTrabajo{
      top: 2%;
      left: 10%;
  }
}
@media (max-width:1450px){
.trabajoCartas{
  grid-template-columns: repeat(4, 1fr) ;
}
}

@media (max-width:1100px){
  .trabajoCartas{
  grid-template-columns: repeat(2, 1fr) ;
}
}
@media (max-width:560px){
  .trabajoCartas{
  grid-template-columns:1fr;
}
}